<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <p class="title">{{title}}</p>
    </div>

    <div class='btn-row'>
        <button id='rgbtohex'>RGB to HEX</button>
        <button id='hextorgb'>HEX to RGB</button>
    </div>

    <div id="copyright" class="copyright">
        <p id="copy-content" class='copy-content'>Created by Akshath &trade;</p>
    </div>


<script src="home.js"></script>    
</body>
</html>